#book_list{
    background: rgba(218, 28, 28, 0.75);
    width: 92.5%;
    height: 385px;
    left: 25px;
    overflow-y: scroll;
    border-radius: 7.5px;
    &::-webkit-scrollbar {
        display: none;
    }
    table{
        background: rgba(256,256,256,.75);
        border-radius: 7.5px;
        
        thead{
            color: #42f035;
        }
        tbody{
            color: #262626;
        }
        
    }
}

#insertion_section{
    background: rgba(9, 9, 7, 0.75);
    border-radius: 7.5px;
    padding: 15px 10px 15px 10px;
    width: 100%;
    .form-group{
        width: 90%;
        margin-left: 10%;

        input,label{
            width: 90%;
        }
        input{
            opacity: .20;
            transition: .5s;
            outline: none;
        }

        #two-section{
            margin-left: -7.5%;
            input{
                width: 85%;
            }
        }
        button{
            margin-left: -5%;
        }

    }

}

body{
    padding: 0;
    margin: 0;
    height: 100vh;
}
#one-page{
    height: 100%;
    background-image: url("https://4.imimg.com/data4/DB/QV/MY-29214035/library-management-system-500x500.jpg");
    background-size: auto;
background-size: cover;
    -webkit-background-size: auto;
    -moz-background-size: auto;
    -o-background-size: auto ;
    
}
.container{
    position: relative;
    top: 15%;
}
h1 {
    
    font-size: 50px;
}


.text-light-1{
    color: #ed3713 !important;
    text-align: center;

}

.text-light-2{
    color:orangered;
    text-align: center;

    
}